@font-face {
  font-family: aili_fanyuan;
  src: url(./font_2/HQseH5Rd8lLO.woff2);
  src: url(./font_2/HQseH5Rd8lLO.woff);
}

@font-face {
  font-family: aili_dongfan;
  src: url(./font_1/unPcdjbBGI38.woff2);
  src: url(./font_1/unPcdjbBGI38.woff);
}